body,div,ul,ol,li,h1,h2,h3,form,input,textarea,p {
    margin:0;
    padding:0;
}
body{
    font-family: Verdana, Arial, Helvetica, "微软雅黑", "Microsoft YaHei", sans-serif;
    background: #f7f7f7;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input{
    outline: none;
}
fieldset,img,iframe {
    border:0;
}
em,strong,th {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
.cl{
    /*zoom:1;*/
    /*IE才需要 hack*/
}
.cl:after{
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}

